<div class="container">
  <nav class="navbar bg-light fixed-top navbar-expand-md">
    <div class="container-sm">
      <span class="navbar-brand">Breathe</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">
              <!-- <img src="/images/plus-square.svg" alt="Bootstrap" width="16" height="16"> -->
              Log
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/signout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>