<!DOCTYPE html>
<html>
  <%- include ('partials/head.ejs') %>
  <body>
    <div class="container">
      <h1>Index</h1>
      <a class="btn btn-primary" href="/register">Register</a>
      <a class="btn btn-primary" href="/login">Login</a>
    </div>
  </body>
</html>
