<!DOCTYPE html>
<html>
  <%- include ('partials/head.ejs') %>
  <body>
    <div class="d-flex flex-column small-container text-center">
      <h1 class="display-1">Breathe</h1>
      <p class="lead text-center my-3">
        Breathe is a comprehensive asthma self-management app designed to help users
        better understand and control their asthma symptoms. With breathe,
        users can easily track their asthma triggers, symptoms, medications,
        and peak flow readings, all in one place. Our user-friendly interface
        makes it simple to log and review data, allowing users to take a more
        active role in their asthma management.
      </p>
      <div class="my-3">
        <a class="btn btn-primary btn-lg mx-2" href="/register">Register</a>
        <a class="btn btn-primary btn-lg mx-2" href="/login">Login</a>
      </div>
    </div>
  </body>
</html>