<!DOCTYPE html>
<html>
    <%- include ('partials/head.ejs') %>
    <body>
        <div class="small-container shadow-lg p-5">
            <h1 class="display-4">Register</h1>
            <p class="lead">Enter your credentials to sign up!</p>
            <form action="/register" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input
                        type="email"
                        class="form-control"
                        name="email"
                        aria-describedby="emailHelp"
                        required
                    />
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="mt-4">
                <p>Already have an account? <a href="/login">Login</a></p>
                <a href="/">Go back</a>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
