<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/head.ejs') %>
  <body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-6">
          <div class="card shadow-lg mb-4">
            <div class="card-body">
              <h4 class="card-title mb-3">Educational Resources</h4>
              <h5 class="mb-3">What is Asthma?</h5>
              <p>
                Asthma is a chronic respiratory condition that causes the
                airways in the lungs to become inflamed, narrow, and produce
                extra mucus. This can make breathing difficult, lead to
                coughing, wheezing, and shortness of breath. It is important to
                understand the triggers, symptoms, and treatments to manage the
                condition effectively.
              </p>
              <h5>Common Asthma Triggers</h5>
              <p>
                Identifying and avoiding triggers is crucial for people living
                with asthma. Common triggers include:
              </p>
              <ul>
                <li>Respiratory infections: Cold, flu, and bronchitis</li>
                <li>
                  Allergens: Pollen, dust mites, mold spores, and pet dander
                </li>
                <li>Exercise: Exercise-induced bronchoconstriction (EIB)</li>
                <li>
                  Environmental factors: Smoke, pollution, and changes in
                  weather
                </li>
                <li>Emotional factors: Stress and strong emotions</li>
              </ul>
              <div class="d-flex row my-1">
                <a href="https://www.asthmaandlung.org.uk/"
                  >Asthma and Lung UK</a
                >
                <a
                  href="https://www.lung.org/lung-health-diseases/lung-disease-lookup/asthma"
                  >American Lung Association</a
                >
                <a href="https://www.nhs.uk/conditions/asthma/">NHS Asthma</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card shadow-lg mb-4">
            <div class="card-body">
              <h4 class="card-title mb-3">Managing an Asthma Attack</h4>

              <p>
                If you or someone you know experiences an asthma attack, it is
                important to stay calm and sit upright to facilitate breathing.
                Use your quick-relief inhaler (usually a short-acting
                beta-agonist) as prescribed by your doctor and wait for 5-10
                minutes to see if your symptoms improve. If there's no
                improvement or if your symptoms worsen, call emergency medical
                services immediately. Be sure to follow your asthma action plan
                and inform your healthcare provider of the situation.
              </p>
            </div>
          </div>
          <div class="card shadow-lg mb-4">
            <div class="card-body">
              <h4 class="card-title mb-3">Lifestyle Changes</h4>
              <p>
                Making certain lifestyle changes can help manage asthma symptoms
                and reduce the risk of asthma attacks. It's important to avoid
                smoking and second-hand smoke, maintain a healthy weight, and
                manage stress through relaxation techniques. Additionally,
                exercising regularly, but with caution, can help strengthen the
                lungs and improve breathing. Some people find using air
                purifiers helps to reduce allergens in the home, can contribute
                to better asthma management.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
