@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background-image: linear-gradient(to right, #6DAFFE, #437FC7);
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 10px;
}

/* custom links ----------- */
a {
  color: #6DAFFE;
}

a:hover {
  color: #437FC7;
}

/* custom buttons --------- */
.btn {
  border-radius: 50px;
}

.btn-sm {
  border-radius: 10px;
}

.btn-primary {
  background-color: #6DAFFE;
  border-color: #6DAFFE;
}

.btn-primary:hover {
  background-color: #437FC7;
  border-color: #437FC7;
}
/* ------------------------ */

.small-container {
  background-color: #FFFFFF;
  border-radius: 30px;
  max-width: 500px;
  margin: 5%;
}

.center-container {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.weather-container {
  min-width: 70%;
  margin: 5%
}

.card {
  border: 0px;
  border-radius: 20px;
  padding: 0.5rem;
}

.color-design {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* custom list item hover - */
.list-group-item:hover {
  background-color: #EDF6FF;
}

.navbar {
  background-image: linear-gradient(to right, #6DAFFE, #437FC7);
}

.scroller-log {
  overflow-y: auto;
  max-height: 75vh;
}

.scroller-medication {
  overflow-y: auto;
  max-height: 27vh;
}

.wi-icon {
  width: 150px;
}

.wi-icon-small {
  width: 100px;
}