body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* media query for small screens */
@media (max-width: 640px) {
  body {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

/* custom links ----------- */
a {
  color: #6DAFFE;
}

a:hover {
  color: #437FC7;
}

/* custom buttons --------- */
.btn {
  border-radius: 50px;
}

.btn-sm {
  border-radius: 10px;
}

.btn-primary {
  background-color: #6DAFFE;
  border-color: #6DAFFE;
}

.btn-primary:hover {
  background-color: #437FC7;
  border-color: #437FC7;
}
/* ------------------------ */

.small-container {
  background-color: #FFFFFF;
  border-radius: 50px;
  max-width: 600px;
  margin: 0 auto; /* Center horizontally */
}

.card {
  border: 0px;
  border-radius: 20px;
  padding: 0.5rem;
}

.color-design {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* custom list item hover - */
.list-group-item:hover {
  background-color: #EDF6FF;
}

.navbar {
  background-color: #005b8f; 
}

.scroller-log {
  overflow-y: auto;
  max-height: 75vh;
}

.scroller-medication {
  overflow-y: auto;
  max-height: 27vh;
}
