body {
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.small-body {
  padding-left: 20%;
  padding-right: 20%;
}

/* media query for small screens */
@media (max-width: 640px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

a {
  color: #00B7FF;
}

.navbar .container-sm {
  padding: 5px;
  padding-left: 5%; /* Adjust this value according to your needs */
  padding-right: 5%; /* Adjust this value according to your needs */
}

.scroller {
  max-height: 625px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
